<!DOCTYPE html>
<html>
    <head>

        <title>Examen parcial</title>

    </head>

    <body>


        <div>
            <h2>Bienvenido</h2>
            <form>
                <div>
                    <input type="text">
                </div>
                <div>
                    <input type="text">
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
                <div>
                    <p>¿Perdiste tu contraseña?</p>
                </div>
                <div>
                    <p>¿No tienes cuenta? Registrate</p>
                </div>
            </form>
        </div>

        <div>
            <p>volver</p>
        </div>

    </body>

</html>