<!DOCTYPE html>
<html>
    <head>

        <title>Examen parcial</title>

    </head>

    <body>


        <div>
            <h2>Bienvenido</h2>
            <form method="post" action = "{% url 'gestion_tareas:login' %}"> <!-- Interaccuar con base de datos (inclusión de atributos)--> 
            {% csrf_token %}    
                <div>
                    <input type="text" name = 'usuario'>
                </div>
                <div>
                    <input type="text" name = 'password'>
                </div>
                <br>
                <div>
                    <button type="submit">Login</button>
                </div>
                <div>
                    <p>¿Perdiste tu contraseña?</p>
                </div>
                <div>
                    <p>¿No tienes cuenta? Registrate</p>
                </div>
            </form>
        </div>

        <div>
            <p>volver</p>
        </div>

    </body>

</html>